<% if @microposts.any? %>
<div class= "allpost">
  <%= render @microposts %>
</div>
  <%= will_paginate @microposts,
                  params: { controller: :static_pages, action: :allpost } %>
<% end %>
