<% if user_signed_in? %>
  <% if @microposts.any? %>
    <div class= "row">
      <div class="col-md-2">
          </div>
      <div class="col-md-8">
          <%= render @microposts %>      
      </div>
      <div class="col-md-2">
      </div>
    </div>
      <%= will_paginate @microposts,
                    params: { controller: :static_pages, action: :allpost } %>
  <% end %>
<% else %>
  <div class="center jumbotron" id= "divhome">
    <h3>Twitter Type Post</h3>
    <p>
      Inspired innovation that's changing the world.
    <br>
    <br>
      <%= link_to "Sign up?", new_user_registration_path, class: "btn  btn-primary", id: "btnsignup" %>
    </p>
  </div>
<% end %>
