<div class="col-sm-3">
  <div class="card">
    <div class="image">
        <%= gravatar_for user %>
    </div>
    <div class="card-inner">
      <div class="header">
        <h4>
           <%= link_to user.name, user %>
        </h4>
    </div>
    <div class="content">
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <p>
        <span><b>Total Posts:</b> <%= @user.microposts.count %></span>
      </p>
    </div>
      </div>
  </div>
</div>
