<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-12" style="text-align:left;padding:20px;position:relative">
      <%= render micropost.comments %>
  </div>
</div>
 <%= form_with scope: :comment, url: micropost_comments_path(micropost_id: micropost.id), local: true do |form| %>
     <%= form.text_area :body, class: 'form-control' %>
     <%= form.submit "Add Comment", class: "btn btn-primary" %>
 <% end %>
