<div class="row" id="like_buttons_<%= micropost.id %>">
<div class="col-xs-6" >
  <%= link_to "<button class='btn btn-default glyphicon glyphicon-thumbs-up #{micropost.likes.find_by(user: current_user, liked: true) ? "disabled" : ""}'  aria-hidden='true'>#{micropost.likes.where(liked: true).count}</button>".html_safe,
   micropost_like_path(micropost.id),  method: :post, remote: true %>
</div>
<div class="col-xs-6">
  <%= link_to "<button class='btn btn-default glyphicon glyphicon-thumbs-down #{micropost.likes.find_by(user: current_user, disliked: true) ? "disabled" : ""}'  aria-hidden='true'>#{micropost.likes.where(disliked: true).count}</button>".html_safe,
   micropost_dislike_path(micropost.id),  method: :post, remote: true %>
</div>
</div>
